
<div class="circle">
    <img src="./images/me.jpg" width="400" height="400">
</div>

<style>
    .circle {
        border-radius: 50%;

        height: 100%;

        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        border: var(--accent) 2px solid
    }

    img {
        height: 100%;
        width: 100%;

        object-fit: cover; 
        object-position: center;
        border-radius: 50%;
    }
</style>