


<div class="box">
    <h3>Hi, my name is</h3>

    <h1>alex eckardt</h1>

    <br>
    <h3>I'm a student, pixel-artist and game developer based near Toronto, Canada.</h3>
    <br>
    <h3>I love soccer (football), digital art, programming and game design.</h3>
</div>


<style>
    .box {
        /* border: solid 2px green; */
    }

    /* code {
		font-size: 0.875em;
		font-weight: bold;
		background: black;
		color: white;
		border-radius: 4px;
		padding: 0.3em 0.45em;
	} */

    h1 {
        font-size: 4rem;
        font-weight: 800;
        color: var(--opposite);
    }

    h3 {
        font-size: 1rem;
        color: var(--fadedtextcol);
    }
    

</style>