
<div class="box">
    <h3>Hi, my name is</h3>
    <h1><span class="title">alex eckardt</span></h1>
    <br>
    <h3>I'm a student, pixel-artist and game developer based near Toronto, Canada.</h3>
    <br>
    <h3>I love soccer (football), digital art, programming and game design.</h3>
</div>


<style>
    .box {
        /* border: solid 2px green; */
    }

    code {
		font-size: 0.875em;
		font-weight: bold;
		background: black;
		color: white;
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}

    h1 {
        font-size: 4rem;
        font-weight: 800;
        color: var(--accent);
    }

    h3 {
        font-size: 1rem;
        color: var(--fadedtextcol);
    }

    /* Text Colouring */    
    .title {
            background-image: var(--titlegradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400%;
            background-position: 0%;
        }
</style>