<!-- Section W Buttons -->
<div class="linesection">
    <center>
        <a href="/Alex_Eckardt_Website_Resume.pdf">
            <iconify-icon class="a" icon="mingcute:document-3-fill" width="30" height="30"/>
        </a>
    </center>
</div>


<style>
    .linesection {
        margin: 2rem;
        padding-bottom: 2rem;
    }

    a {
        color: var(--fadedtextcol);
        transition: 0.3s;
    }
    a:hover {
        color: var(--textcol);
    }

</style>