---
import ImageCard from '../../components/ImageCard.astro';
import SpriteBanner from '../SpriteBanner.astro';
import TextCard from '../TextCard.astro';
---

<!-- Banner -->
<SpriteBanner
    text= "CV"
    spriteurl="images/sprites/whischeif.png"
    textcol="#ff00ff"
    bkgcol="#ffffff"
    spritetrans="translateX(65vw) translateY(var(--bannerheight)) translateY(-270px)"
    />  

<!-- Section W Buttons -->
<div class="section">
    <div class="linesection">
        <center>

            <h4>
                Click the button below to see my most up-to-date resume.
                <br>
            </h4>

            <!-- CV --> 
            <TextCard
                href="/Alex_Eckardt_Website_Resume.pdf"
                title="Resume"
            />

        </center>
    </div>
</div>

<style>
    .section {
        background-color: var(--backgroundcol);
        buffer: 2rem;
        color: white;
        border: 3px solid #00000000;
        /* border: 2px solid green; */
    }
    .linesection {
        margin: 2rem;
        border-left: 2px solid var(--vlinecol);
        /* border: 2px solid green; */
    }

    h4 {
        font-size: 1rem;
        color: var(--fadedtextcol);
        margin: 2rem;
        /* border: 2px solid green; */
    }
</style>