---
import ImageCard from '../../components/ImageCard.astro';
import SpriteBanner from '../SpriteBanner.astro';
import ThreeDeeCard from '../ThreeDeeCard.astro';
import ThreeDeeCardTextLogo from '../ThreeDeeCardTextLogo.astro';
---

<!-- Section W Buttons -->
<div class="section">
    <div class="linesection">

        
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="card_sec">
        <!-- <center> -->

            <ThreeDeeCard
                    href="https://alexeckardt.itch.io/soulflamealpha"
                    body="" 
                    logoSprite="/images/projects/soulflame_logo.png"

                    backgroundSprite="/images/projects/soulflame_bkg.png"
                    characterSprite="/images/projects/soulflame_char.png"
                    />

            <ThreeDeeCard
                    href="https://alexeckardt.itch.io/pinball-pioneer"
                    body="" 
                    logoSprite="/images/projects/pinball_logo.png"
                    backgroundSprite="/images/projects/pinball_bkg.png"
                    characterSprite="/images/projects/pinball_char.png"
                    />

            <ThreeDeeCardTextLogo 
                    href="https://alexeckardt.github.io/GO-Transit-Visualizer/"
                    body="" 
                    title="GO Transit Viewer"

                    backgroundSprite="/images/projects/gotransitviewer.png"
                    characterSprite="/images/projects/empty.png"
                    />

            <!-- </center> -->
        </div>
    </div>
</div>

<style>

    .section {
        background-color: var(--backgroundcol);
        color: white;
        border: 3px solid #00000000;
        /* border: 2px solid magenta; */

        overflow: hidden;
    }

    .linesection {
        margin: 2rem;
        border-left: 2px solid var(--vlinecol);
        /* border: 2px solid green; */
    }
    

    .card_sec {
        /* border: 2px solid green; */
        display: flex;
        justify-content: center;
    }

    h4 {
        color: var(--fadedtextcol);
    }

    h3 {
        color: var(--fadedtextcol);
        font-size: 1.1rem;
        /* text-shadow: 0 0 2px black, 0 0 2px black; */
    }

    a {
        text-decoration: none;
    }

    h1 {
        color: var(--fadedtextcol);
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
</style>