---
import ImageCard from '../../components/ImageCard.astro';
import SpriteBanner from '../SpriteBanner.astro';
---

<!-- Banner -->
<SpriteBanner
    text= "Projects"
    spriteurl="images/sprites/goof.png"
    textcol="#ff00ff"
    bkgcol="#ffffff"
    spritetrans="translateX(-25vw)"
    />

<!-- Section W Buttons -->
<div class="section">
    <div class="linesection">

        <center>
            <br>
            <h4>
            Learn more about each of the projects I've done!
            </h4>
            <br>
            <br>

            <!-- Soulflame -->
            <ImageCard
                href="https://alexeckardt.itch.io/soulflamealpha"
                title="Soulflame Alpha"
                body="A Solo-Developed Action Adventure Video Game. Over 3 years of development (currently on pause)" 
                imgsrc="/images/projects/soulflame.png"
            />

            <!-- Pinball -->
            <ImageCard
                href="https://alexeckardt.itch.io/pinball-pioneer"
                title="Pinball Pioneer"
                body="A Solo-Developed Puzzle Game, originally created in 48 hours for the GMTK July 2023 Game Jam." 
                imgsrc="/images/projects/pinball.png"
            />
            
                <!-- GO Transit -->
            <ImageCard
                href="https://alexeckardt.github.io/GO-Transit-Visualizer/"
                title="GO Transit Viewer"
                body="Visualizer Of GO Transit Routes in Ontario, Canada using Real World Data" 
                imgsrc="/images/projects/gotransitviewer.png"
            />

            <!-- Dungeon -->
            <ImageCard
                href="https://github.com/alexeckardt/RougelikeDungeon"
                title="Rougelike Dungeon C# Game"
                body="An simple, randomly generated bullet hell video game, created using C# using the MonoGame Game Framework. (In Development)" 
                imgsrc="/images/projects/rougelikedungeon.png"
            />

            <!-- IOS App -->
            <ImageCard
                href="https://github.com/alexeckardt/iOS-Speedrun-Timer/"
                title="iOS Speedrun Timer"
                body="iOS App, writen in XCode, to act as a timer to store and compare speedruns to one another" 
                imgsrc="/images/projects/ios_speedrun.png"
            />

            <!-- Pixel Tile Set -->
            <ImageCard
                href="https://github.com/alexeckardt/Pixel-Art-Tile-Set-Completer"
                title="Pixel Art Tile Set Completer"
                body="Python Script to Create Base Tiles from Source Images" 
                imgsrc="/images/projects/patsc.png"
            />

            <br>

            
            <a href="https://github.com/alexeckardt/MyWebsite" target="_blank" rel="noopener noreferrer">
                <h3>
                    See the source code for this website!
                </h3>
            </a>

            <br>
            <br>

        </center>
    </div>
</div>

<style>
    .section {
        background-color: var(--backgroundcol);
        buffer: 2rem;
        color: white;
        border: 3px solid #00000000;
        /* border: 2px solid magenta; */

        overflow: hidden;
    }

    .linesection {
        margin: 2rem;
        border-left: 2px solid var(--vlinecol);
        /* border: 2px solid green; */
    }

    h4 {
        color: var(--fadedtextcol);
    }

    h3 {
        color: var(--fadedtextcol);
        font-size: 1.1rem;
        text-shadow: 0 0 2px black, 0 0 2px black;
    }

    a {
        text-decoration: none;
    }
</style>