---
import ImageCard from '../../components/ImageCard.astro';
import SpriteBanner from '../SpriteBanner.astro';
---

<!-- Banner -->
<SpriteBanner
    text= "Projects"
    spriteurl="images/sprites/goof.png"
    textcol="#ff00ff"
    bkgcol="#ffffff"
    spritetrans="translateX(25vw) translateY(20rem) translateY(-240px)"
    />

    <!-- Intro -->
<div class="section">

    <center>

        <br>
        <h4>
           Learn more about each of the projects I've done!
        </h4>
        <br>
        <br>

        <ImageCard
            href="https://alexeckardt.itch.io/soulflamealpha"
            title="Soulflame Alpha"
            body="A Solo-Developed Action Adventure Video Game. Over 3 years of development (currently on pause)" 
            imgsrc="/images/projects/soulflame.png"
        />

        <ImageCard
            href="https://github.com/alexeckardt/Go-Transit-Viewer"
            title="GO Transit Viewer"
            body="Visualizer Of GO Transit Routes in Ontario, Canada using Real World Data" 
            imgsrc="/images/projects/gotransitviewer.png"
        />

        <ImageCard
            href="https://github.com/alexeckardt/Pixel-Art-Tile-Set-Completer"
            title="Pixel Art Tile Set Completer"
            body="Python Script to Create Base Tiles from Source Images" 
            imgsrc="/images/projects/patsc.png"
        />

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </center>
</div>


<style>
    .section {
        background-color: var(--backgroundcol);
        padding: 2rem;
        color: white;
    }

    h4 {
        color: var(--fadedtextcol);
    }

    SpriteBanner {

    }
</style>