---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import CVSection from "../sections/CVSection.astro";
import ProjectSection from "../sections/ProjectSection.astro";
import WelcomeSection from "../sections/WelcomeSection.astro";
---

<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

<Layout title="Alex Eckardt">
	<html>
		<body>
			
			<Header />

			<!--  -->
			<div class="main">
			
					<WelcomeSection />

					<ProjectSection />

					<CVSection />
			
			</div>

			
			
		</body>
	</html>
</Layout>

<style>
	* {
		margin: 0;
		buffer: 0;
	}

	.main {
		width: 100vw;
		/* border-top: 1px solid black; */
	}
</style>