---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro'
import ProjectSection from '../components/sections/ProjectSection.astro';
import Header from '../components/Header.astro';
import EmptySection from '../components/sections/EmptySection.astro';
import CVSection from '../components/sections/CVSection.astro';
import AboutMeSection from '../components/sections/AboutMeSection.astro';
import SkillsSection from '../components/sections/SkillsSection.astro';
import ParalaxBanner from '../components/ParalaxBanner/ParalaxBanner.astro';
import HeaderParalaxBanner from '../components/ParalaxBanner/HeaderParalaxBanner.astro';
---
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

<Layout title="Alex Eckardt">

	<html>
		<body>

			<!-- Main Content -->
			<div class="main">

				<!-- Start Page -->
				<HeaderParalaxBanner bkgimg="images/backgrounds/valleybackground.png"/>

				<!-- <SkillsSection /> -->
				<!-- <ParalaxBanner id="p2" bkgimg="images/backgrounds/cityscape2.png"/> -->

				<ProjectSection />

				<ParalaxBanner id="p3" bkgimg="images/backgrounds/prettycloud.png"/>
				<CVSection />
			
				
				<Footer />
			</div>
	
			<!-- Header above all, Zero Margin -->
			<Header />

			<!-- End Body -->
		</body>
	</html>

	<script>

		

	</script>
</Layout>

<style>
	* {
		margin: 0;
		buffer: 0;
	}
	.main {
		margin-top: var(--headerheight);
		width: 100vw;
	}
</style>
