---

---

<div class="w3-container">
	
	<p><img 
		src="/images/me.jpg"
		width="600"
  		height="337"
  		style="
			width: 70ch; 
			height: 70ch; 
			object-fit: cover; 
			object-position: 0% 60%;
			border-radius: 50%;
			"
	></p>
	

    <h2>
        Section
    </h2>
    <h3>
        Info
    </h3>
    <h4>
        Sub Info
    </h4>

</div>
<br>

<style>
    h2 {
		font-size: 1.5rem;
		font-weight: 200;
		margin: 0;
		color: var(--textcol);
	}
	h3 {
		font-size: 1rem;
		font-weight: 200;
		margin: 0;
		color: var(--textcol);
	}
	h4 {
		font-size: 1rem;
		font-weight: 200;
		margin: 0;
		color: var(--fadedtextcol);
	}
	.code {
		font-size: 0.875em;
		font-weight: bold;
		background: var(--codebackcol);
		color: var(--codecol);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
</style>
