---

---

<a>
    <h2>
        Section
    </h2>
    <h3>
        Info
    </h3>
    <h4>
        Sub Info
    </h4>
</a>


<style>
    h2 {
		font-size: 1.5rem;
		font-weight: 200;
		margin: 0;
		color: var(--textcol);
	}
	h3 {
		font-size: 1rem;
		font-weight: 200;
		margin: 0;
		color: var(--textcol);
	}
	h4 {
		font-size: 1rem;
		font-weight: 200;
		margin: 0;
		color: var(--fadedtextcol);
	}
	.code {
		font-size: 0.875em;
		font-weight: bold;
		background: var(--codebackcol);
		color: var(--codecol);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
</style>
