---
import Layout from '../layouts/Layout.astro';
---

<script type = "text/javascript">  
  const root = document.querySelector(':root');

  function toggle() {
    const colorScheme = getComputedStyle(root).getPropertyValue('color-scheme');
    if (colorScheme == "dark") {
      tolight();
    } else {
      todark();
    }
  }

  function tolight() {
    // set css variables
    root.style.setProperty('--accent', 'var(--accent-light)');
    root.style.setProperty('--accentalpha', 'var(--accentalpha-light)');
    root.style.setProperty('--accentdark', 'var(--accentdark-light)');
    root.style.setProperty('--accentlight', 'var(--accentlight-light)');
    root.style.setProperty('--titlegradient', 'var(--titlegradient-light)');
    root.style.setProperty('--textcol', 'var(--textcol-light)');
    root.style.setProperty('--fadedtextcol', 'var(--fadedtextcol-light)');
    root.style.setProperty('--codecol', 'var(--codecol-light)');
    root.style.setProperty('--codebackcol', 'var(--codebackcol-light)');
    root.style.setProperty('--unobtrusive', 'var(--unobtrusive-light)');
    root.style.setProperty('--unobtrusivebright', 'var(--unobtrusivebright-light)');
    root.style.setProperty('--backgroundcol', 'var(--backgroundcol-light)');
    root.style.setProperty('--vlinecol', 'var(--vlinecol-light)');
    root.style.setProperty('--spritebannertextcol', 'var(--spritebannertextcol-light)');
    root.style.setProperty('--spritebannerbkgcol', 'var(--spritebannerbkgcol-light)');
    root.style.setProperty('--opposite', 'var(--opposite-light)');
    root.style.setProperty('--four-corner', 'var(--four-corner-light)');
    root.style.setProperty('--projectgradient', 'var(--projectgradient-light)');

    root.style.setProperty('color-scheme', 'light');
  } 

  function todark() {
    // set css variables
    root.style.setProperty('--accent', 'var(--accent-dark)');
    root.style.setProperty('--accentalpha', 'var(--accentalpha-dark)');
    root.style.setProperty('--accentdark', 'var(--accentdark-dark)');
    root.style.setProperty('--accentlight', 'var(--accentlight-dark)');
    root.style.setProperty('--titlegradient', 'var(--titlegradient-dark)');
    root.style.setProperty('--textcol', 'var(--textcol-dark)');
    root.style.setProperty('--fadedtextcol', 'var(--fadedtextcol-dark)');
    root.style.setProperty('--codecol', 'var(--codecol-dark)');
    root.style.setProperty('--codebackcol', 'var(--codebackcol-dark)');
    root.style.setProperty('--unobtrusive', 'var(--unobtrusive-dark)');
    root.style.setProperty('--unobtrusivebright', 'var(--unobtrusivebright-dark)');
    root.style.setProperty('--backgroundcol', 'var(--backgroundcol-dark)');
    root.style.setProperty('--vlinecol', 'var(--vlinecol-dark)');
    root.style.setProperty('--spritebannertextcol', 'var(--spritebannertextcol-dark)');
    root.style.setProperty('--spritebannerbkgcol', 'var(--spritebannerbkgcol-dark)');
    root.style.setProperty('--opposite', 'var(--opposite-dark)');
    root.style.setProperty('--four-corner', 'var(--four-corner-dark)');
    root.style.setProperty('--projectgradient', 'var(--projectgradient-dark)');

    root.style.setProperty('color-scheme', 'dark');
  }  
</script>  

<p>
    <a onclick="toggle()" id="thetoggle">
        <iconify-icon icon="ph:moon-fill" width="30" height="30"></iconify-icon>
    </a>
</p>

<style>
    a {
      color: var(--unobtrusivebright);
      background-color: none;
      text-decoration: none;
      display: inline-block; 
      transition: 0.3s;
    }

    a:hover {
    color: var(--accent);
    }
  </style>
