---
import Layout from '../layouts/Layout.astro';
---

<style>
    p {
        color: var(--unobtrusive);
    }
</style>


<h6>
    <center>
        <p>
            Copyright Alex Eckardt 2022. All Rights Reserved.
        </p>
    </center>
</h6>