---
import Layout from '../layouts/Layout.astro';
---

<style>
    .container {
        margin-top: 1rem;
        height: 2rem;
    }

    p {
        color: var(--unobtrusivebright);
        font-size: 0.75rem;
    }
</style>


<div class="container">
    <center>
        <p>
            © Alex Eckardt 2022
        </p>
    </center>
</div>