---
import Layout from '../layouts/Layout.astro';
---

<style>
    p {
        color: var(--unobtrusivebright);
        font-size: 0.75rem;
    }
</style>


<h6>
    <center>
        <p>
            © Alex Eckardt 2022
        </p>
    </center>
</h6>