---
import Social from './Social.astro';
---
<header>

  <div class="left-text">
    <a href="" rel="noopener noreferrer">
    <h1><span class="title">alexeckardt</span></h1>
    </a>
  </div>
  <div class="social-links">
    <Social num="00" text="twitter" website="twitter.com/pixeqla"/>
    <Social num="01" text="github" website="github.com/alexeckardt"/>
    <Social num="02" text="linkedin" website="linkedin.com/in/alex-eckardt"/>
    <Social num="03" text="itch.io" website="alexeckardt.itch.io"/>
  </div>

</header>

<style>

    header {
      background-color: transparent;
      padding: 20px;
      width: calc(100vw - 40px);

      display: flex;
      justify-content: space-between;
      align-items: center;

      position:fixed;
      top: 0;
    }

    a {
      text-decoration: none;
    }

    .left-text {
      text-decoration: none;
    }

    /* Text Colouring */
    .title {
      background-image: var(--titlegradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* -webkit-text-fill-color: black; */
      background-size: 400%;
      background-position: 0%;

      text-decoration: none;
      scale: calc(50vw);
    }

    .social-links {
      margin: 0;
      margin-left: 15px;
      padding: 0;

      display: flex;
      flex-direction: row; /* Set the links to be stacked vertically */
      /* border: 1px green solid; */

      gap: 20px;
    }


    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 0;
      z-index: -1;
      text-shadow: 0 0 5 black;
	  }

    /* Media query for smaller screens */
    @media (max-width: 400px) {
      header {
        flex-direction: column; /* Stack the elements vertically */
        align-items: center;
      }

      .left-text {
        margin-bottom: 30px;
      }

      h1 {
        font-size: 15vw; /* Reduce the font size for the title */
      }
    }

    /* Media query for smaller screens */
    @media (max-width: 640px) {
      .social-links {
        flex-direction: column; /* Align the social links horizontally */
      }
    }
    
</style>