---
import DayNightToggle from './DayNightToggle.astro';
import Social from './Social.astro';
---
<div class="header">

  <!-- Title -->
  <a href="" target="_blank" rel="noopener noreferrer">

      <h1>
        <span class="title">
            alex eckardt
        </span>
      </h1>

  </a>

  <!--  Socials (Right Side) -->
  <div id="socials">
    <DayNightToggle />
    <br>
    <br>
    <Social website="twitter.com/pixeqla" icon="bi:twitter"/>
    <Social website="github.com/alexeckardt" icon="akar-icons:github-fill"/>
    <Social website="linkedin.com/in/alex-eckardt" icon="akar-icons:linkedin-v1-fill"/>
    <Social website="https://alexeckardt.itch.io/" icon="cib:itch-io"/>
    <Social website="instagram.com/soulflamegame" icon="ant-design:instagram-filled"/>
  </div>

</div>

<style>

  /* Overall */

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--headerheight);
    display: flex;

    background-color: var(--backgroundcol);
    /* border: 3px solid green; */
  }

  a {
    position: relative;
    display: flex;
    align-items: center;  
    justify-content: center;

    /* background-color: black; */
    color: white;
    margin: 20px;

    text-decoration: none;
  }

  #socials {
    position: absolute;
    display: flex; /* Icons same line */
    gap: 1rem; /* Gap Between Icons */
    right: 1.5rem; 
    top: 2rem;

    /* border: 3px solid green; */
  }

  /* My Name Text */
  h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;

    text-decoration: none;

    z-index: -1;
	}

  /* Text Colouring */
  .title {
		background-image: var(--titlegradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>