---
import SocialNumbered from './SocialNumbered.astro';
---
<header id="header">
  <div class="left-text">
    <a href="" rel="noopener noreferrer">
    <h1><span class="title">alex eckardt</span></h1>
    </a>
  </div>
  <div class="social-links">
    <SocialNumbered num="00" text="twitter" website="twitter.com/pixeqla"/>
    <SocialNumbered num="01" text="github" website="github.com/alexeckardt"/>
    <SocialNumbered num="02" text="linkedin" website="linkedin.com/in/alex-eckardt"/>
    <SocialNumbered num="03" text="itch.io" website="alexeckardt.itch.io"/>
  </div>

</header>

<script>

  //Get Header
  const header = document.getElementById('header');
  let prevScrollPosition = window.scrollY;
  const showHeaderAt = window.innerHeight * 0.8;

  window.addEventListener('scroll', () => {

    const currentScrollPosition = window.scrollY;
    
    // Hide the header when the screen is at the top
    if (header != null) {
        // Show the header with animation when scrolling down
        header.style.transform = currentScrollPosition < showHeaderAt ? 'translateY(-100%)' : 'translateY(0)';
    }
    
    prevScrollPosition = currentScrollPosition;
  });
  
</script>


<style>

    header {
      background-color: var(--backgroundcol);
      padding: 20px;
      width: calc(100vw - 40px);
      height: 3rem;
      
      display: flex;
      justify-content: space-between;
      align-items: center;

      position:fixed;
      top: 0;

      z-index: 2;

      /* Start Hidden */
      transform: translateY(-100%); 
      transition: transform 0.3s ease-in;

      /* border: 1px solid black; */
    }

    a {
      text-decoration: none;
    }

    .left-text {
      text-decoration: none;
    }

    /* Text Colouring */
    .title {
      background-image: var(--titlegradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* -webkit-text-fill-color: black; */
      background-position: 0%;

      text-decoration: none;
      scale: calc(50vw);
    }

    .social-links {
      margin: 0;
      margin-left: 15px;
      margin-right: 20px;
      padding: 0;

      display: flex;
      flex-direction: row; /* Set the links to be stacked vertically */
      /* border: 1px green solid; */

      gap: 20px;
    }


    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin: 0;
      z-index: -1;
      color: var(--textcol);
      text-shadow: 0 0 5 black;
	  }


    /* Media query for smaller screens */
    @media (max-width: 640px) {
      .social-links {
        flex-direction: column; /* Align the social links horizontally */
      }

      header {
        height: var(--headerheightSmallScreen);
        /* border: 2px red solid; */
      }
    }

    /* Media query for TINY screens */
    @media (max-width: 400px) {
      header {
        flex-direction: column; /* Stack the elements vertically */
        align-items: center;
        height: var(--headerheightTinyScreen);
        display: none;
      }

      .left-text {
        margin-bottom: 30px;
      }

      h1 {
        font-size: 15vw; /* Reduce the font size for the title */
      }
    }

    
</style>