---
import ImageCard from '../components/ImageCard.astro';
---

<a>
    <ImageCard
        href="https://alexeckardt.itch.io/soulflamealpha"
        title="Soulflame Alpha"
        body="A Solo-Developed Action Adventure Video Game. Over 3 years of development (currently on pause)" 
        imgsrc="/images/soulflame.png"
        />

    <ImageCard
        href="https://github.com/alexeckardt/Go-Transit-Viewer"
        title="GO Transit Viewer"
        body="Visualizer Of GO Transit Routes in Ontario, Canada using Real World Data" 
        imgsrc="/images/gotransitviewer.png"
        />

    <ImageCard
        href="https://github.com/alexeckardt/Pixel-Art-Tile-Set-Completer"
        title="Pixel Art Tile Set Completer"
        body="Python Script to Create Base Tiles from Source Images" 
        imgsrc="/images/patsc.png"
        />
</a>
