---
const { bkgimg, header, desc } = Astro.props;
---

<!-- HTML -->
<div class="container">
    <h1>
        {header}
    </h1>
    {desc && 
        <h2>
            {desc}
        </h2>
    }
</div>


<!-- STYLE -->
<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Kumbh+Sans:wght@100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

    .container {
        width: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        gap: 10px;

        /* border: 1px solid red; */

        margin-top: 50px;
        margin-bottom: 50px;
    }

    h1 {
        font-family: "Funnel Display", "Inter", "DM Sans", Arial, sans-serif;
        font-size: 4rem;
        font-weight: 600;
        /* text-shadow: 0px 0px 30px black; */

        color: var(--textcol);
        font: monospace;
        
        font-smooth: never;
        -webkit-font-smoothing : none;
        /* -webkit-text-stroke: 3px var(--backgroundcol); */
        /* text-stroke: 3px var(--backgroundcol); */

        transition: 0.3s;
    }

    h2 {
        font-size: 1.4rem;
        font-weight: 200;
        /* text-shadow: 0px 0px 30px black; */
        color: var(--fadedtextcol);
        
        transition: 0.3s;
        text-align: center;
    }

    @media (max-width: 840px) {
        h1 {
            font-size: 3rem;
        }
    }

     /* Media query for smaller screens */
     @media (max-width: 640px) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 400px) {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }
    }

</style>