---
const { bkgimg, header, desc } = Astro.props;
---

<!-- HTML -->
<div class="container">
    <div 
        class="backgroundimg" 
        style={`background-image:url(${bkgimg})`} >

        <div class="subcontainer">

            <h1>
                {header}
            </h1>

        </div>
    </div>
</div>

<h2>
    {desc}
</h2>

<!-- STYLE -->
<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

    :root {
        --section-height: 25rem;
    }

    .container {
        height: var(--section-height);
        width: 100%;
        overflow: hidden;
    
        /* border: 1px solid red; */
    }

    .backgroundimg {
        height: var(--section-height);
        width: 100vw;
        position: absolute;
        overflow: hidden;
        left: 0;

        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 0px;
        background-size: cover;
        background-attachment: fixed;

        background-color: var(--backgroundcol);
        /* border-top: 1px solid var(--textcol); */
        /* border-bottom: 1px solid var(--textcol); */
        /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.377); */
        
        margin-left: auto;
        margin-right: auto;
        image-rendering: pixelated;
        
        overflow: hidden;

        /* border: 1px solid red; */
    }

    .subcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80vw;
        height: var(--section-height);
        position: absolute;
        left: 10vw;

        /* border: 1px solid red; */
    }

    h1 {
        font-family: "Inter", "DM Sans", Arial, sans-serif;
        font-size: 8rem;
        font-weight: 600;
        /* text-shadow: 0px 0px 30px black; */

        color: var(--textcol);
        font: monospace;
        
        font-smooth: never;
        -webkit-font-smoothing : none;
        /* -webkit-text-stroke: 3px var(--backgroundcol); */
        /* text-stroke: 3px var(--backgroundcol); */

        transition: 0.3s;
    }

    h2 {
        padding: 20px;
        padding-top: 70px;

        font-size: 1.8rem;
        font-weight: 400;
        /* text-shadow: 0px 0px 30px black; */
        color: var(--fadedtextcol);
        
        transition: 0.3s;
        text-align: center;
    }

    @media (max-width: 840px) {
        h1 {
            font-size: 4rem;
        }

        .backgroundimg {
            height: var(--section-height);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            
            background-size: cover;
            image-rendering: pixelated;
            
            overflow: hidden;
            background-position-y: 0;

            /* border: 1px solid red; */
        }
    }



     /* Media query for smaller screens */
     @media (max-width: 640px) {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    @media (max-width: 400px) {
        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1rem;
        }
    }

</style>


<script>

    // let isScrolling = false;

    // function isTouchScreenDevice() {
    //     return 'ontouchstart' in window || navigator.maxTouchPoints > 0 || navigator.maxTouchPoints > 0;
    // }

    // //Constant
    // function updateScrolls() {

    //     if (!isScrolling) {
    //         isScrolling = true;
    //         //Loop
    //         let elements = document.querySelectorAll(".backgroundimg")
    //         for (let i = 0; elements[i]; i++) {

    //             let el = elements[i];
    //             updateBanner((el as HTMLElement));
    //         }
    //         window.requestAnimationFrame(() => {
    //             isScrolling = false;
    //         });
    //     }
    // }

    // //B
    // function updateBanner(el : HTMLElement) {

    //     //Get Top Position
    //     let top = el.getBoundingClientRect().top;
    //     let depth = .5;
    //     let off = depth*top;

    //     if (isTouchScreenDevice()) {
    //         return;
    //     }


    //     //Update Bkg Position
    //     el.style.backgroundPositionY = `${off}px`;

    // }

    // //Auto Update
    // // updateScrolls();

    // //Repeat on Scroll Update
    // window.addEventListener("scroll", () => {

    //     // if (window.innerWidth > 840) {
    //         // updateScrolls();
    //     // }

    // });

</script>