---
const { name, percentage } = Astro.props;
---

<div class="container">
    <div class="namecontainer">
        <text>
            {name}
        </text>
    </div>

    <div class="barcontainer">
        <div class="barbkg">
            <div class="barself" style={`width: ${percentage};`}>
                <div class="barnum">
                    {percentage}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>

<style>
    .container {
        width: 100%;
        height: 2rem;

        display: flex;
        align-items: center;

        /* border: 1px solid green; */
    }

    .namecontainer {
        /* border: 1px solid green; */

        /* Subjective Split to make the section appear center */
        width: 10%;
        text-align: right;
    }

    .text {

    }

    .barcontainer {
        width: 100%;
        height: 100%;

        /* Space Between Start of Bar and End Of Name */
        margin-left: 1rem;

        display: flex;
        align-items: center;

        /* border: 1px solid red; */
    }

    .barbkg {
        width: 100%;
        height: 1.8rem;
        background-color: var(--spritebannerbkgcol);
        border-radius: 0.5rem;
    }

    .barself {
        height: 100%;
        background-color: var(--accentdark);
        border-radius: 0.5rem;

        transition: 1s;

        /* Center Items */
        display: flex;
        align-items: center;

        /* border: 1px solid var(--accent); */
    }

    .barself:hover {
        transition: 0s;
        background-color: var(--accent);

    }

    .space {
        width: 100%;
        height: 1rem;
    }

    .barnum {
        transform: translateX(0.5rem);
        color: var(--accentlight);
        font-weight: 800;
        /* border: 1px solid green; */
    }

</style>