---
const { website, icon } = Astro.props;
import Layout from '../layouts/Layout.astro';
---

<p>
    <a href={`https://${website}`} target="_blank" rel="noopener noreferrer">
        <iconify-icon class="a" icon={icon} width="30px" height="30px"></iconify-icon>
    </a>
</p>

<style>


    @keyframes startup-fade-social {
      0% {
        opacity: 0;
      }
      60% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    a {
      opacity: 0;
      background-color: none;
      text-decoration: none;
      color: var(--socialunhighlighted);

      display: inline-block; 
      transition: 0.3s;

      width: 30px;
      animation: startup-fade-social 8s ease-in-out forwards;
    }

    a:hover {
      color: white;
      scale: 1.3;
    }

    a:hover:after {
      scale: 1;
    }

    
    @media (max-width: 300px) {
        .a {
            scale: 0.5;
        }
    }

  </style>