---
const { platform, username } = Astro.props;
import Layout from '../layouts/Layout.astro';
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: var(--textcol);
      background-color: var(--accent);
      text-decoration: none;
    }
  </style>