---
const { num, text, website } = Astro.props;
import Layout from '../layouts/Layout.astro';
---

<div class="social">
  <a href={`https://${website}`} target="_blank" rel="noopener noreferrer">
    <div class="social-anim">
      <span class="num">{num}</span>
      <span class="text">{text}</span>
    </div>
  </a>
</div>

<style>
    a {
      color: var(--unobtrusivebright);
      background-color: none;
      text-decoration: none;
      color: black;
    }

    .num {
      font-size: 0.8rem;
      height: 1rem;
      font-weight: 400;
      padding-right: 3px;
    }

    .text {
      font-size: 1rem;
      font-weight: bold;
      height: 1rem;
    }

    .social {
      height: 1.5rem;
      scale: 100%;
      border: 1px solid red;
    }

    /* Social-anim behavior INSIDE a .social */
    .social .social-anim{
      transform: translateX(0px);
      transition: 0.6s;
    }

    /* Socail-anim behaviour INSIDE a .social that is hovered */
    .social:hover .social-anim {
      scale: 80%;
      transform: translateX(-10%);
      transition: 0.3s;
    }

  </style>