---
const { website, icon } = Astro.props;
import Layout from '../layouts/Layout.astro';
---

<p>
    <a href={`https://www.${website}`}>
        <iconify-icon class="a" icon={icon} width="30" height="30"></iconify-icon>
    </a>
</p>

<style>
    a {
      color: var(--unobtrusivebright);
      background-color: none;
      text-decoration: none;
      display: inline-block; 
      transition: 0.3s;
    }

    a:hover {
    color: var(--accent);
    }
  </style>