---
const { text, spriteurl, textcol, bkgcol, spritetrans} = Astro.props;
---

<div class="container">
    <img src={spriteurl} style={`transform: ${spritetrans} translateX(-50%)`}>
    <div class="bkg">
        <div class="text">
            <h1>
                <span class="title">
                    {text}
                </span>
            </h1>
        </div>
    </div>

</div>

<style>

    .container {
        height: var(--bannerheight);
        width: 100%;
    }

    img {
        position: absolute; 
        image-rendering: pixelated;
    }

    .bkg {

        width: 100%;
        height: 100%;

        background-color: var(--spritebannerbkgcol);
    }

    .text {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        color: var(--spritebannertextcol);
    }

    h1 {
        font-size: 4rem;
        font-weight: 800;
    }
   /* Text Colouring */    
   .title {
            background-image: var(--titlegradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px black;
            background-size: 400%;
            background-position: 0%;
        }

</style>