---
const { text, spriteurl, textcol, bkgcol, spritetrans} = Astro.props;
---

<div class ="whole">
    <div class="container">

        <div class="spr">
            <img src={spriteurl} style={`transform: ${spritetrans} translateX(-50%)`}>
        </div>

        
        <div class="bkg">
            <div class="text">
                <h1>
                    <span class="title">
                        {text}
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>

<style>

    .whole {
        width: 100%;
        height: 10rem;
        position: relative;
        display: flex;
        text-align: center;

        /* border: 2px green solid; */

        offset-position: top;
        padding-bottom: 4rem;
    }

    .container {
        height: 20rem;
        width: 80%;
        
        position: absolute;

        left: 10%;
        top: -50%;
        
    }

    .spr {
        position: absolute; 
        image-rendering: pixelated;
    }

    .bkg {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

        background: black;
        background-blend-mode: screen;
        background-image: var(--four-corner);
        background-size: cover;

        border-radius: 25px;
    }


    .text {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        color: var(--spritebannertextcol);
        text-shadow: 0 0 50px rgba(0, 0, 0, 0.33)
    }

    h1 {
        font-size: 4rem;
        font-weight: 800;
    }
   /* Text Colouring */    
   .title {
        color: var(--opposite-dark)
    }

</style>