---
// import ImageCardPurple from "../components/ImageCardPurple.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";


const { item } = Astro.props;
---

<!-- Section W Buttons -->
<div class="tag">
    {item}
</div>

<style>
.tag {

    display: flex;
    width: fit-content;
    min-width: 0px;

    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;

    color: var(--primary-p);
    border: 1px solid var(--primary-p); 
    background-color: transparent;

    transition: 0.1s;

    border-radius: 50px;
    font-size: 0.8rem;

    text-align: center;
    justify-content: center;
    text-align: center;

    /* pointer-events: none; */
    user-select: none;

}

.tag:hover {

    /* border: 1px solid var(--primary-p);  */
    background-color: var(--primary-p);
    color: var(--secondary-p);

}
</style>