---
// import ImageCardPurple from "../components/ImageCardPurple.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";
---

<!-- Section W Buttons -->
<div class="tag">
    Hi
</div>

<style>
.tag {

    display: flex;
    width: fit-content;
    min-width: 30px;

    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;

    color: var(--primary-p);
    border: 1px solid var(--primary-p);



    border-radius: 50px;
    font-size: 0.8rem;

    text-align: center;
    justify-content: center;
    text-align: center;

}
</style>