<!-- Section W Buttons -->
<div class="linesection">
    <center>

        <h1>
        CV
        </h1>

        <a href="/Alex_Eckardt_Website_Resume.pdf">
            <div class="link">
                <iconify-icon class="a" icon="mingcute:document-3-fill" width="30" height="30"/>
            </div>
        </a>
    </center>
</div>


<style>
    .linesection {
        padding-bottom: 4rem;
        background-color: var(--backgroundcol);
    }

    .link {
        color: var(--primary-p);
        transition: 0.3s;
    }

    .link:hover {
        color: var(--textcol);
    }

    h1 {
        color: var(--primary-p);
        padding-bottom: 0.7rem;
        font-size: 2vh;
        font-weight: 100;
    }

</style>