---
import ImageCardBlue from "../components/ImageCardBlue.astro";
import ImageCardPurple from "../components/ImageCardPurple.astro";
import ImageCardGreen from "../components/ImageCardGreen.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";
---

<!-- Section W Buttons -->
<div class="section">

    <SectionBanner id="p3" 
    bkgimg="images/backgrounds/valley.png" 
    header="Experiments"
    desc="Technical Side Projects that are cool to use and see, but aren't as user friendly."/>

        <center>

            
        <!-- Pixel Tile Set -->
        <ImageCardPurple
            href="https://github.com/alexeckardt/ChessOpenings"
            title="Chess Opening Explorer"
            body="Simple Puzzle Game that makes you choose the best move from a variety of chess openings." 
            imgsrc="/images/projects/chessers.png"
            year="2023"
        />

        <ImageCardGreen
            href="https://github.com/alexeckardt/Pixel-Art-Tile-Set-Completer"
            title="Pixel Art Tile-Set Extrapolator"
            body="Python Command Line Tool to extrapolate a tile-set from Source Images" 
            imgsrc="/images/projects/patsc.png"
            year="2023"
        />

            
        <!-- IOS App -->
        <ImageCardBlue
            href="https://github.com/alexeckardt/iOS-Speedrun-Timer/"
            title="iOS Speedrun Timer"
            body="iOS App, writen in XCode, to act as a timer to store and compare speedruns time to one another" 
            imgsrc="/images/projects/ios_speedrun.png"
            year="2022"
        />


        <!-- Dungeon -->
        <ImageCardPurple
            href="https://github.com/alexeckardt/RougelikeDungeon"
            title="Rougelike Dungeon C# Game"
            body="An simple, randomly generated bullet hell video game, created using C# using the MonoGame Game Framework." 
            imgsrc="/images/projects/rougelikedungeon.png"
            year="2023"
        />

    <a href="https://github.com/alexeckardt/MyWebsite" target="_blank" rel="noopener noreferrer">
        See the source code for this website!
    </a>

    </center>

</div>



<style>

    .section {
        background-color: var(--backgroundcol);
        color: white;
        /* border: 3px solid #00000000; */
        /* border: 2px solid magenta; */
        overflow: hidden;
        width: 100vw;

        padding-bottom: 2vw;
    }

    a {
        color: var(--primary1);
        transition: 0.1s;
        text-decoration: none;
        font-size: 1.1rem;
    }

</style>