---
import ImageCard from "../components/ImageCard.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";
---

<!-- Section W Buttons -->
<div class="section">

    <div class="linesection">

        <SectionBanner id="p3" 
            bkgimg="images/backgrounds/valley.png" 
            header="Projects"
            desc="Main projects that I've put a ton of time and effort into. Useable by you, right now."/>



            
            <div class="wrapper">


                <div class="card card-0">
                <div class="glare-container">
                    <div class="glare">
                    </div>
                </div>
                </div>


            </div>


        <script is:inline src="/card.js"></script>

    </div>
</div>



<style>

    .section {
        background-color: black;
        color: white;
        /* border: 3px solid #00000000; */
        border: 2px solid magenta;
        overflow: hidden;

        height: 200vh;
    }

    .linesection {

        margin: 2rem;
    }
    

    /*  Cards  */
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        height: 100vh;
    }

    .card-0{
        background-color: rgba(0, 166, 255, 0.3);
    }

    
    .card {
        backdrop-filter: blur(5px);
        min-width: 35vh;
        height: 55vh;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
            0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
            0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
            0px 0px 109px rgba(0, 0, 0, 0.18);
    }

</style>