---
// import ImageCardPurple from "../components/ImageCardPurple.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";
---

<!-- Section W Buttons -->
<div class="section">

    <div class="linesection">

        <SectionBanner id="p3" 
            bkgimg="images/backgrounds/valley.png" 
            header="Projects"
            desc="Main projects that I've put a ton of time and effort into. Useable by you, right now."/>

            <div class="cards">

            <!-- 
                SOULFLAME
                SECTION 
             -->
            <div class="card_section">

                <!-- Card Start -->
                <a href="https://alexeckardt.itch.io/soulflamealpha" target="_blank">
                    
                    <div class="card_wrapper">
                        <div class="card purple" style=`background-image:url(/images/projects/soulflame_bkg.png);`>
                            <div class="glow"></div>
                        </div>
                        <div class="card_char" style=`background-image:url(/images/projects/soulflame_logo_card.png);`></div>
                    </div>
                    
                </a>
                <!-- Card End -->


                
                <div class="card_text">
                    <a href="https://alexeckardt.itch.io/soulflamealpha" target="_blank">
                        <div class="card_title">Soulflame (Alpha)</div>
                    </a>
                    
                    <div class="card_tag purple">Action Adventure Platformer</div>
                    
                    <div class="desc purple">
                        A Game I've been passionately developing for 3 years, 
                        but currently on a hiatus do focus on my schooling.
                    </div>
                    <div class="desc purple">
                        The game boasts a captivating Metroidvania-style gameplay,
                         allowing players to freely explore an expansive 2D environment. 
                         As players delve into the game, they will navigate through 
                         different areas teeming with enemies, 
                         while unraveling the mysteries of the main charachters backstory.
                    </div>
                    
                    <div class="desc purple">
                        When Keira Eldrid arrives on the Old Continent, 
                        she finds herself in the midst of calamity: 
                        the return of ancient titans known as the Spirit Phoenixes. 
                        To prevent the destruction of the continent, she'll have to 
                        harness the power of new weapons and abilities by connecting
                        with her inner self.
                    </div>

                </div>

            </div>
            <!-- End Card Section -->

            
            <!-- 
                Pinball
                SECTION 
             -->
             <div class="card_section">

                <div class="card_text">
                    <a href="https://alexeckardt.itch.io/pinball-pioneer" target="_blank">
                        <div class="card_title blue">Pinball Pioneer</div>
                    </a>
                    <div class="card_tag blue">Top 10 Puzzle Game of GMTK 2023 Game Jam</div>
                    
                    <div class="desc blue">
                        Pinball Pioneer is a puzzle game, originally developed in 48 hours for the largest game jam in (at the time) Itch.io history.
                    </div>
                    <div class="desc blue">
                        The game was developed for the Game Maker's Tool Kit (GMTK) Game Jam in July 2023. The theme of the game jam was 'Roles Reversed' -- meaning that some aspect of the game was to be backwards in some way.
                        After a week-long voting period, Pinball Pioneer finished Top 10 (7th) out of 7000 submissions.
                    </div>
                    <div class="desc blue">
                        Play as a little worker inside a pinball machine who's job is to design the board! 
                        Obviously, if the pinball-player wins the course then the pinball machine is too easy-- and the machine loses tokens! Use whatever you have available to you and make sure that the balls don't go into the holes!
                    </div>

                </div>

                <!-- Card Start -->
                <a href="https://alexeckardt.itch.io/pinball-pioneer" target="_blank">
                    
                    <div class="card_wrapper">
                        <div class="card blue" style=`background-image:url(/images/projects/pinball_bkg.png);`>
                            <div class="glow"></div>
                        </div>
                        <div class="card_char" style=`background-image:url(/images/projects/pinball_char.png);`></div>
                    </div>
                    
                </a>
                <!-- Card End -->

            </div>
            <!-- End Card Section -->


            <!-- 
                GO TRANSIT
                SECTION 
             -->
             <div class="card_section">

                <!-- Card Start -->
                <a href="https://alexeckardt.github.io/GO-Transit-Visualizer/" target="_blank">
                    
                    <div class="card_wrapper">
                        <div class="card green" style=`background-image:url(/images/projects/gotransitviewer.png);`>
                            <div class="glow"></div>
                        </div>
                        <div class="card_char"></div>
                    </div>
                    
                </a>
                <!-- Card End -->



                <div class="card_text">
                    <a href="https://alexeckardt.github.io/GO-Transit-Visualizer/" target="_blank">
                        <div class="card_title">GO Transit Viewer</div>
                    </a>
                    <div class="card_tag green">GTA Transit Network Visualizer</div>
                    
                    <div class="desc green">
                        GO Transit viewer is a visualizer of all Bus and Train routes handeld by GO Transit in Southern Ontario.
                    </div>


                    <div class="desc green">
                        Using the same public data used by other companies like Google and Apple, I create a visual network using JS and HTML and displayed it geographically.
                    </div>

                    <div class="desc green">
                        By clicking on different stations, you can see every line that goes there, as well as every other station directly accessable from there.
                    </div>

                </div>

            </div>
            <!-- End Card Section -->

        </div>

        <script is:inline src="/card.js"></script>

    </div>
</div>



<style>

    .section {
        background-color: var(--backgroundcol);
        color: white;
        /* border: 3px solid #00000000; */
        /* border: 2px solid magenta; */
        overflow: hidden;
        width: 100vw;
        padding-bottom: 5rem;
    }

    .linesection {

        /* margin: 2rem; */
        overflow: hidden;
        width: 100vw;
    }
    
    a {
        text-decoration: none;
    }

    /*  Cards  */
    .card_section {
        
        /* border: magenta 1px solid; */
        display: flex;
        gap: 5vw;

        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 3vw;
        padding-bottom: 2vw;
        /* width: 100%; */

    }

    .card_wrapper {
        width: 35vh;
        height: 55vh;
        /* border: 1px solid red; */
        position: relative;

        transition-duration: 1000ms;
        transition-property: transform;
    }

    .card_wrapper:hover {
        transition-duration: 0ms;
    }


    .card_char {
        top: 0;
        left: 0;
        width: 35vh;
        height: 55vh;
        position: absolute;

        transform: translateZ(100px) rotateY(5deg);

        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size:cover;
        z-index: 5;
        
    }

    .card {
        width: 35vh;
        height: 55vh;
        top: 0;
        left: 0;
        /* position: absolute; */
        /* position: absolute; */
        /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
            0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
            0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
            0px 0px 109px rgba(0, 0, 0, 0.18); */

        border-radius: 10px;
        background-color: black;
        background-size: cover;

        transform: rotateX(50deg) rotateY(5deg);
        /* border: 1px solid red; */
        /* background-color: red; */
    }

    .card.purple {
        border: 1px solid var(--secondary-1);
    }

    .card.blue {
        border: 1px solid var(--secondary-2);
    }

    .glow {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        
        background-image: radial-gradient(circle at 10% 10%,       
                rgb(158, 158, 158) 0%, 
                rgb(83, 83, 83) 136%, 
                rgb(34, 34, 34) 100%);

        mix-blend-mode: hard-light;
        border-radius: 10px;
    }

    .card_title {
        font-size: 10vh;
        font-weight: 800;
        color: white;
    }   
    
    .card_tag {
        font-size: 5vh;
        font-weight: 200;
        margin-top: -1rem;
        padding-bottom: 1rem;
    }

    .desc {
        padding-right: 5vw;
        margin-bottom: 0.75rem;
        font-size: 2.5vh;
    }

    .card_tag.purple {
        color: var(--accent-p);
    }

    .desc.purple {
        color: var(--primary-p);
    }

    
    .card_tag.blue {
        color: var(--accent-b);
    }

    .desc.blue {
        color: var(--primary-b);
    }

    
    .card_tag.green {
        color: var(--accent-g);
    }

    .desc.green {
        color: var(--primary-g);
    }

    
    .card_text {
         padding: 0px;   
    }

    .cards {
        padding: 0px;
    }

    @media (max-width: 780px) {
		.card_section {
            display: inline;
            justify-content: center;
        }

        .cards {
            padding: 2rem;
        }

        .card_wrapper {
            display: none;
        }

        .desc {
            font-size: 3vh;
        }

        .section {  
            padding-bottom: 1rem;
        }

        .card_title {
            padding-bottom: 1rem;
        }
  	}

</style>