---
// import ImageCardPurple from "../components/ImageCardPurple.astro";
import HoloCard from "../components/HoloCard.astro";
import SectionBanner from "../components/SectionBanner.astro";
import ThreeDeeCard from "../components/ThreeDeeCard.astro";
import ThreeDeeCardTextLogo from "../components/ThreeDeeCardTextLogo.astro";
---

<!-- Section W Buttons -->
<div class="section">

    <div class="linesection">

        <SectionBanner id="p3" 
            bkgimg="images/backgrounds/valley.png" 
            header="Projects"
            desc="Main projects that I've put a ton of time and effort into. Useable by you, right now."
        />

        <div class="cards">

            <!-- 
                MEETINGBOT
            -->
            <div class="card_section">

                <!-- Card Start -->
                <div class="card_wrapper">
                    <a href="https://meetingbot.tech" target="_blank">
                        <HoloCard texture='illusion' shine='blue_shine' background="/images/projects/meetinbot_bkg.png" character="/images/projects/meetingbot_char.png"/>
                    </a>
                </div>
                <!-- Card End -->

                <div class="card_text">                    
                    <div class="mobile_banner" style=`background-image:url(/images/projects/meetinbot_bkg.png);`></div>
                    
                    <a href="https://meetingbot.tech" target="_blank">
                        <div class="card_title">MeetingBot</div>
                    </a>
                    
                    <div class="card_tag purple">Meeting Recorder API</div>
                    
                    <div class="desc purple">
                        This was my final end-of-degree project, collaborated with some of the smartest people I know.
                    </div>
                    <div class="desc purple">
                        MeetingBot is an open-source meeting bot API that integrates with online meeting platforms like Zoom, Microsoft Teams, and Google Meet. Essentially, the meeting bots can join video calls and record audio, which can then be accessed programmatically through an API.
                    </div>
                    
                    <div class="desc purple">
                        This project was a huge learning experience for me, as it was my first time working with a larger team of developers on a long-term project. I was responsible for Bot Development, as well as creating an example application.
                    </div>

                </div>

            </div>
            <!-- End Card Section -->

            
            <!-- 
                Pinball
                SECTION 
                -->
                <div class="card_section">
                    
                    <div class="card_text">

                    <div class="mobile_banner" style=`background-image:url(/images/projects/pinball_bkg.png);`></div>

                    <a href="https://alexeckardt.itch.io/pinball-pioneer" target="_blank">
                        <div class="card_title blue">Pinball Pioneer</div>
                    </a>
                    <div class="card_tag blue">Top 10 Puzzle Game of GMTK 2023 Game Jam</div>
                    
                    <div class="desc blue">
                        Pinball Pioneer is a puzzle game, originally developed in 48 hours for the largest game jam in (at the time) Itch.io history.
                    </div>
                    <div class="desc blue">
                        The game was developed for the Game Maker's Tool Kit (GMTK) Game Jam in July 2023. The theme of the game jam was 'Roles Reversed' -- meaning that some aspect of the game was to be backwards in some way.
                        After a week-long voting period, Pinball Pioneer finished Top 10 (7th) out of 7000 submissions.
                    </div>
                    <div class="desc blue">
                        Play as a little worker inside a pinball machine who's job is to design the board! 
                        Obviously, if the pinball-player wins the course then the pinball machine is too easy-- and the machine loses tokens! Use whatever you have available to you and make sure that the balls don't go into the holes!
                    </div>

                </div>

                <!-- Card Start -->
                <div class="card_wrapper">
                <a href="https://alexeckardt.itch.io/pinball-pioneer" target="_blank">
                    <HoloCard texture='metal' shine='rainbow_point' background="/images/projects/pinball_bkg.png" character="/images/projects/pinball_char.png"/>
                </a>
                </div>
                <!-- Card End -->

            </div>
            <!-- End Card Section -->


            <div class="card_section">

                <!-- Card Start -->
                <div class="card_wrapper">
                <a href="https://alexeckardt.itch.io/soulflamealpha" target="_blank">
                    <HoloCard texture='trainer' shine='wide_rainbow_shine' background="/images/projects/soulflame_bkg.png" character="/images/projects/soulflame_logo_card.png"/>
                </a>
                </div>
                <!-- Card End -->

                <div class="card_text">                    
                    <div class="mobile_banner" style=`background-image:url(/images/projects/soulflame_bkg.png);`></div>
                    
                    <a href="https://alexeckardt.itch.io/soulflamealpha" target="_blank">
                        <div class="card_title">Soulflame (Alpha)</div>
                    </a>
                    
                    <div class="card_tag purple">Action Adventure Platformer</div>
                    
                    <div class="desc purple">
                        A Game I've been passionately developing for 3 years, 
                        but currently on a hiatus do focus on my schooling.
                    </div>
                    <div class="desc purple">
                        The game boasts a captivating Metroidvania-style gameplay,
                        allowing players to freely explore an expansive 2D environment. 
                        As players delve into the game, they will navigate through 
                        different areas teeming with enemies, 
                        while unraveling the mysteries of the main charachters backstory.
                    </div>
                    
                    <div class="desc purple">
                        When Keira Eldrid arrives on the Old Continent, 
                        she finds herself in the midst of calamity: 
                        the return of ancient titans known as the Spirit Phoenixes. 
                        To prevent the destruction of the continent, she'll have to 
                        harness the power of new weapons and abilities by connecting
                        with her inner self.
                    </div>

                </div>

            </div>
            <!-- End Card Section -->




            <!-- 
                GO TRANSIT
                SECTION 
            -->
            <div class="card_section">

                <div class="card_text">

                    <div class="mobile_banner" style=`background-image:url(/images/projects/gotransitviewer.png);`>
                    </div>

                    <a href="https://alexeckardt.github.io/GO-Transit-Visualizer/" target="_blank">
                        <div class="card_title">GO Transit Viewer</div>
                    </a>
                    <div class="card_tag green">GTA Transit Network Visualizer</div>
                    
                    <div class="desc green">
                        GO Transit Viewer is an interactive visual tool I developed to map all bus and train routes operated by GO Transit across Southern Ontario. My goal was to create an intuitive and user-friendly way for people to explore the region's extensive transit network.
                    </div>
                    
                    <div class="desc green">
                        Using JavaScript and HTML, I built the viewer by leveraging the same public data sources utilized by companies like Google and Apple. This allowed me to create a geographically accurate representation of GO Transit's network, ensuring both precision and reliability in how routes and connections are displayed.
                    </div>
                    
                    <div class="desc green">
                        I'm very proud of how this prototype turned out, and hope to revisit this project again in the future and utilize what I've learned since making this first version.
                    </div>

                </div>

                <!-- Card Start -->
                <div class="card_wrapper">
                <a href="https://alexeckardt.github.io/GO-Transit-Visualizer/" target="_blank">
                    <HoloCard texture='trainer' shine='blue_shine' background="/images/projects/gotransitviewer.png"/>
                </a>
                </div>
                <!-- Card End -->

            </div>
            <!-- End Card Section -->

        </div>

        <!--  -->
        <script is:inline src="/card.js"></script>
    </div>
</div>



<style>

    .section {
        background-color: var(--backgroundcol);
        color: white;
        /* border: 3px solid #00000000; */
        /* border: 2px solid magenta; */
        overflow: hidden;
        padding-bottom: 5rem;
    }

    .linesection {

        /* margin: 2rem; */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    }
    
    a {
        text-decoration: none;
    }

    /*  Cards  */
    .card_section {
        
        /* border: magenta 1px solid; */
        display: flex;
        gap: 5vw;

        justify-self: start;
        justify-content: center;
        align-items: center;

        margin-left: 10vw;
        margin-right: 10vw;
        /* margin-top: 3vw; */
        margin-bottom: 2vw;

        padding: 40px;
        /* width: 100%; */

        background: var(--background-card-bkg);
        border: 1px solid var(--background-card-border);
        border-radius: 16px;

        max-width: 1200px;

    }

    .card_wrapper {
        width: 35vh;
        height: 55vh;
        /* border: 1px solid red; */
        position: relative;

        transition-duration: 1000ms;
        transition-property: transform;
    }

    .card_wrapper:hover {
        transition-duration: 0ms;
    }

    .mobile_banner {
        display: none;

        max-width: 300px;
        height: 260px;
        border-radius: 16px;
        background-size: cover;

        margin-bottom: 10px;
    }


    .card_char {
        top: 0;
        left: 0;
        width: 35vh;
        height: 55vh;
        position: absolute;

        transform: translateZ(100px) rotateY(5deg) perspective(10000px);

        image-rendering: pixelated;
        background-repeat: no-repeat;
        background-size:cover;
        z-index: 5;
        
    }

    .card {
        width: 35vh;
        height: 55vh;
        top: 0;
        left: 0;
        /* position: absolute; */
        /* position: absolute; */
        /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
            0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
            0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
            0px 0px 109px rgba(0, 0, 0, 0.18); */

        border-radius: 10px;
        background-color: black;
        background-size: cover;

        transform: translateZ(100px) rotateY(5deg) perspective(1000px);
        
        /* border: 1px solid red; */
        /* background-color: red; */
    }

    .card.purple {
        border: 1px solid var(--secondary-1);
    }

    .card.blue {
        border: 1px solid var(--secondary-2);
    }

    .glow {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        
        background-image: radial-gradient(circle at 10% 10%,       
                rgb(158, 158, 158) 0%, 
                rgb(83, 83, 83) 136%, 
                rgb(34, 34, 34) 100%);

        mix-blend-mode: hard-light;
        border-radius: 10px;
    }

    .card_title {
        font-family: var(--title_font_family);
        font-size: 40px;
        font-weight: 800;
        padding-bottom: 5px;
        color: white;
    }   
    
    .card_tag {
        font-size: 25px;
        font-weight: 200;
        margin-top: -1rem;
        padding-bottom: 1rem;
    }

    .desc {
        padding-right: 5vw;
        margin-bottom: 0.75rem;
        font-size: 18px;
    }

    .card_tag.purple {
        color: var(--accent-p);
    }

    .desc.purple {
        color: var(--primary-p);
    }

    
    .card_tag.blue {
        color: var(--accent-b);
    }

    .desc.blue {
        color: var(--primary-b);
    }

    
    .card_tag.green {
        color: var(--accent-g);
    }

    .desc.green {
        color: var(--primary-g);
    }

    
    .card_text {
         padding: 0px;   
         /* border: 1px solid red; */
         margin-left: 20px
    }

    .cards {
        padding: 0px;
    }

    @media (max-width: 1100px) {
        .card_section {
            flex-direction: column;
        }

        .card {
            order: 1;
        }

        .card_text {
            order: 2;
        }
    }


    @media (max-width: 780px) {
		.card_section {
            display: flex;

            background: none;
            border: none;

            margin: 0;
            padding: 0;
        }


        .cards {
            padding: 0;
            width: 80%;
        }

        .card_wrapper {
            display: none;
        }

        .mobile_banner {

            display: flex;
            width: 100%;
            /* border: 1px solid red; */
        }

        .section {  
            padding: 0;
            padding-bottom: 1rem;
            margin-top: 0;
        }

        .card_title {
            padding-bottom: 1rem;
            font-size: 3rem;
        }

        .card_tag {
            font-size: 2rem;
        }

        .desc {
            font-size: 1.5rem;
        }

        .card_text {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            margin-bottom: 20px;
        }

  	}

      @media (max-width: 500px) {
        .card_title {
            padding-bottom: 1rem;
            font-size: 2rem;
        }

        .card_tag {
            padding-bottom: 1rem;
            font-size: 1.3rem;
        }

        .desc {
            font-size: 1rem;
        }
      }

</style>