---
import SocialIcon from "../components/SocialIcon.astro";
---

<!-- Empty Section -->
<div class="section">
    <div class="linesection">
        <center>
            

            <div class="title">
                <h1>
                    alex eckardt
                </h2>

                <h2>
                    Developer and Pixel Artist 
                </h2>

                <!-- Socials -->

                <div class="socials">
                  <!-- <SocialIcon website="twitter.com/pixeqla" icon="bi:twitter"/> -->
                  <SocialIcon website="github.com/alexeckardt" icon="akar-icons:github-fill"/>
                  <SocialIcon website="linkedin.com/in/alex-eckardt" icon="akar-icons:linkedin-v1-fill"/>
                  <SocialIcon website="alexeckardt.itch.io/" icon="cib:itch-io"/>
                  <SocialIcon website="alexeckardt.ca/Alex_Eckardt_Website_Resume.pdf" icon="mingcute:document-3-fill"/>
                  <!-- <SocialIcon website="instagram.com/soulflamegame" icon="ant-design:instagram-filled"/> -->
                </div>



            </div>

        </center>
    </div>
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

    .section {
        background-color: var(--backgroundcol);
        buffer: 2rem;
        color: white;
        /* border-top: 1px solid red; */

        width: 100vw;
        height: 100vh;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        /* Mix so We can see the effect under */
        mix-blend-mode: multiply;

    }
    .linesection {
        margin: 2rem;
        border-left: 2px solid var(--vlinecol);
        /* border: 2px solid green; */
    }

    .title {
        position: relative;
        overflow: hidden;
        /* border: 2px solid black; */

        margin-bottom: 4vh;

        width: fit-content;
        padding: 4rem;
        
        /* border: 1px solid white; */
        font-family: "Inter", "DM Sans", Arial, sans-serif;

        /* mix-blend-mode: screen; */
        /* addition basically */
    }

    .socials {
      display: flex;
      justify-content: center; /* If you want to center the items instead */
      padding-top: 30px;
      gap: 20px;
      overflow: hidden;
      animation: startup-fade-social 6s ease-in-out forwards;
    }


    h1 {
        font-size: 10rem;
        font-weight: 800;
        animation: startup-fade 6s ease-in-out forwards;
    }

    @keyframes startup-fade {
      0% {
        color: black;
        text-shadow: 0px 0px 60px black;
        transform: translateY(var(--motion));
        
      }
      10% {
        color: black;
        text-shadow: 0px 0px 60px black;
        transform: translateY(var(--motion));

      }
      40% {
        color: white;
        text-shadow: 0px 0px 40px rgb(168, 168, 168);
        transform: translateY(0rem);
      }
      100% {
        color: white;
        text-shadow: 0px 0px 30px rgb(168, 168, 168);
        transform: translateY(0rem);
      }
    }

    h2 {
        font-size: 2rem;
        font-weight: 10;
        color: rgb(179, 179, 179);
        animation: startup-fade-1 6s ease-in-out forwards;
    }

    @keyframes startup-fade-1 {
      0% {
        color: black;
        transform: translateY(var(--motion));
      }
      20% {
        color: black;
        transform: translateY(var(--motion));
      }
      80% {
        color: rgb(219, 219, 219);
        transform: translateY(0rem);
      }
    }

    @keyframes startup-fade-social {
      0% {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

     /* Media query for smaller screens */
     @media (max-width: 70rem) {
        h1 {
            font-size: 12vw;
        }
        h2 {
            font-size: 5vw;
        }
    }

    @media (max-width: 300px) {
        .title {
            width: 80vw;
        }
        .socials {
          gap: 0px;
        }
    }

</style>