---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	:root {
		--accent: rgb(124, 58, 237);
		--titlegradient: linear-gradient(45deg, var(--accent), #f589ff 30%, rgb(224, 201, 217) 60%);

		--textcol: #ffffff;
		--codecol: var(--accent);
		--codebackcol: rgba(5, 0, 15, 25%);

		--unobtrusive: #0f0f0f;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #202020;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
